body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#checkAgeBtn {
background-color: rgb(48, 202, 202);
border-radius: 10%;
}
#colorBox {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}
